.header{
    padding: 200px;
    text-align:center;
   background-image: url('Background1.jpg');
   background-position: center;
   color:white;
   background-repeat:no-repeat; 
   display:block;}
    .bg-music{
    position: absolute;
    top: 64%;
    left: 0;
    right: 0;
    margin: 0 auto;    
    }
   .btn{
    background-color: transparent;
    color: darkmagenta;
    font-size: 78px;
    border: none;
    display: block;
    margin: 0 auto;
    opacity: .3;
}
.topnav{
    background-color:black;
    overflow:hidden;
}
.topnav a{
    float: left;
    display:block;
    color:tomato;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}

.topnav:hover{
    background-color: lightpink;
    color: black;
}
footer{
    margin-bottom:0;
    bottom: 0;
    padding:10px;
    font-size: 5px;
    text-align:center;
    background-color: lightskyblue;
    color: magenta;
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}
#contact {
    text-align: center;
    border-style:dotted;
    margin-top:1000px;
}
.leftcolumn {
    float:left;
    width:75%;
}

.card{
    background-color: beige;
    width: 95%;
    padding: 20px;
    text-align:center;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
}
.rightcolumn {
    float: left;
    width:25%;
}
.image {
    width:60 px;
    height:60 px;
}