*{
    
    <!-- box-sizing: border-box; -->
}
.header{
    padding: 200px;
    text-align:center;
   background-image: url('Background1.jpg');
   background-position: center;
   color:white;
   Background-repeat:no-repeat; 
   Display:block;
    .bg-music{
    position: absolute;
    top: 64%;
    left: 0;
    right: 0;
    margin: 0 auto;    
    }
   .btn{
    background-color: transparent;
    color: #fff;
    font-size: 78px;
    border: none;
    display: block;
    margin: 0 auto;
    opacity: .3;
}
}
.topnav{
    background-color:black;
    overflow:hidden;
}

.topnav:hover{
    background-color: lightpink;
    color: black;
}