*{
    box-sizing: border-box;
}
.header{
    padding: 150px;
    text-align:center;
   background-image: url('Background1.jpg');
   color:white;
   Background-repeat:no-repeat; 
   Display:block;
}
.topnav{
    background-color:black;
    overflow:hidden;
}

.topnav:hover{
    background-color: aqua;
    color: black;
}